<div class="container-fluid">
<header> <span>Accenture Transportation</span>
<span style="
    float: right;
    padding-right: 10px;
"> Test User </span>
</header>
 <ul class="navLinks">
  <li routerLink="" routerLinkActive="active"> Home </li>
  <li routerLink="/registration" routerLinkActive="active"> Registration </li>
  <li routerLink="/admin" routerLinkActive="active"> Admin </li>
  <li routerLink="/dashboard" routerLinkActive="active"> Dashboard </li>
</ul>

  <router-outlet></router-outlet>

</div>
